{{#isFormParam}}{{#notFile}}@RequestPart(value="{{paramName}}"{{#required}}, required=true{{/required}}{{^required}}, required=false{{/required}})  {{{dataType}}} {{paramName}}{{/notFile}}{{#isFile}}@ApiParam(value = "file detail") @Valid @RequestPart("file") MultipartFile {{baseName}}{{/isFile}}{{/isFormParam}}
